h1{
    font-family: 'Poiret One', cursive;
    text-align:center;
    }
h3{
    font-family: 'Poiret One', cursive;
    }
ul{
    font-family: 'Poiret One', cursive;
    }
body{
    background-color:red;
    }
img{
    border:double;
    }

    

